

.header{
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  background: transparent;
  justify-content: flex-end;
  
}

.header.active{
  z-index: 1;
  background-image: linear-gradient(to left, #23074d,#cf380e);
  transition: all 3000ms ease-in-out;
}


input{
  margin: 20px;
  /* padding: 10px; */
  border-radius: 50px;
  border: 1;
 padding: 7px 14px 9px; 
 transition: 0.4s;
 outline: none;
}





.movie__container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top:70px ;
  scroll-behavior: smooth;
  
}