*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: linear-gradient(to right,#333333, #dd1818);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

