*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: linear-gradient(to right,#333333, #dd1818);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
body::-webkit-scrollbar-thumb {
  border: 3px solid #200101;
  border-radius: 90px;
  border-style: dotted;
  height: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

